1st Task

In [2]:
x=int(input())
print("input the data")
a=(1,2,4,5,3,4,5,4,5,4,2)
b=[]

for i in a:
  if i==x:
    print(i)
    b.append(i)
print(b)

4
input the data
4
4
4
4
[4, 4, 4, 4]

2nd task
Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line

In [69]:
a=list(range(2000,3201,1))
c=[]
for i in a:
  if i%7== 0:
    if i%5!=0:
      c.append(i) 
print(c)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

3nd task:Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [53]:
print("enter your first name")
a=input()
print("enter your last name")
b=input()
print(a[::-1] +" "+ b[::-1] )

enter your first name
mukesh
enter your last name
tomar
hsekum ramot

4th Task:Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r
3

5th task:Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [99]:
a=input()
print(a)
b=[]
b.append(a)
print(b)

1,2,3,4
1,2,3,4
['1,2,3,4']

6th Task:Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [104]:
a=5
for x in range(a):
  for y in range(x)
    print("*")
  if a<5
print(a)

*

7th Tack:Write a Python program to reverse a word after accepting the input from the user.
Sample Output:
Input word: AcadGild
Output: dilGdacA

In [100]:
a=input()
print(a[::-1])

AcadGild
dliGdacA

8th task:Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens
Sample Output:
WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN, !
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
and to secure to all its citizens